.chat_main_container{
    position: absolute;
    border: 1px solid red;
    width: 400px;
    height: 700px;
    display: none;
}



/* <div class="chat_main_container" id="chat_main_container">
        <!-- conversation selector (pending to apply) -->
        <div class="chat_conversation_selector" id="chat_conversation_selector"></div>
        <!-- chat messages container -->
        <div class="chat_messages_main_container" id="chat_messages_main_container">
            <div class="chat_messages_container" id="chat_messages_container"></div>
            <div class="chat_input_container">
                <input type="text" id="chat_input" placeholder="Type your message...">
                <button id="send_message_btn">Send</button>
            </div>
        </div>

    </div> */
