<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="settings.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

    <body id="body">
        <!-- draggable area + close btn van DENTRO del content -->
        <div id="draggable_header"></div>
        <div class="close_settings_panel_btn_container" id="close_settings_panel_btn_container">
            <button id="close_settings_panel_btn"></button>
        </div>
        <div class="bg_container">

            <!-- settings panel header -->
            <div class="settings_panel_header">
                <div class="settings_panel_options">
                    <button id="general_settings_btn"><img src="../../../assets/settings2.webp">General</button>
                    <button id="customization_settings_btn"><img src="../../../assets/brush.png">Customization</button>
                    <button id="account_settings_btn"><img src="../../../assets/account.webp">Account</button>
                    <button id="notifications_settings_btn"><img src="../../../assets/notifications.png">Notifications</button>
                </div>
            </div>

            <!-- settings panel content -->
            <div class="settings_panel_content_inner_container">
                <div class="settings_panel_content" id="settings_panel_content">
                    
                    <!-- General Settings -->
                    <div class="settings_view" id="view_general">
                        <!-- contenido de General -->
                    </div>
                    
                    <!-- Backgorund Settings View-->
                    <div class="settings_view" id="view_customization">
                        <div class="background_settings_header">
                            <h2>Background</h2>
                            <h3>Customize the appearance of your workspace</h3>
                            <p>Choose a background style that matches your preferences and enhances your experience.</p>
                        </div>
                        <!-- Main backround conteiner -->
                        <div class="background_settings_container">
                            <div class="background_previsualizer_container">
                                <div class="bacgorund_previsualizer_header">
                                    <p></p>
                                </div>
                                <div class="background_previsualizer" id="background_previsualizer"></div>
                            </div>
                            <!-- backround selector -->
                            <div class="bacground_selector_container">
                                <p>Select a background: </p>
                                <div class="background_selector" id="background_selector">
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <!-- Backgorund Settings -->
                    <div class="settings_view" id="view_account">
                        <!-- contenido de Account -->
                    </div>

                    <!-- Backgorund Settings -->
                    <div class="settings_view" id="view_notifications">
                        <!-- contenido de Notifications -->
                    </div>

                </div>
            </div>
        </div>
    
    <script src="../background/bg-themes.js"></script>
    <script src="../background/grainy-bg.js"></script>
    <script src="settings_renderer.js"></script>
    </body>
</html>